   <!-- footer -->
<footer id="footer">
    <div id="footer-widgets" class="container style-1">
        <div class="row">
            <div class="col-md-4">
                <div class="widget widget_text">
                    <h2 class="widget-title"><span>HAKKIMIZDA</span></h2>
                    <div class="textwidget">
                        <a class="navbar-brand" href="index-building.html"><img src="~/images/atm (3).png" alt="image"><span>FABEK</span></a>
                        <p>Aenean suscipit eget mi act fermentum phasellus vulputate turpis tincidunt. Aenean suscipit eget. Aenean suscipit eget mi act fermentum phasellus vulputate turpis tincidunt. Aenean suscipit ege  Aenean suscipit eget mi act fermentum phasellus.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="widget widget_links">
                    <h2 class="widget-title"><span>KATEGORİLER</span></h2>
                    <ul class="wprt-links clearfix col2">
                        <li><a data-scroll="" href="#home">Anasayfa</a></li>
                        <li><a data-scroll="" href="#about"> Hakkımızda</a></li>
                        <li><a data-scroll="" href="#services">Hizmetlerimiz</a></li>
                        <li><a data-scroll="" href="#projects">Projelerimiz</a></li>
                        <li><a data-scroll="" href="#testimonials">Testimonials</a></li>
                        <li><a data-scroll="" href="#contact">Bize Ulaşın</a></li>

                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="widget widget_information">
                    <h2 class="widget-title"><span>İLETİŞİM BİLGİLERİ</span></h2>
                    <ul>
                        <li class="address clearfix">
                            <span class="hl">Address:</span>
                            <span class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
                        </li>
                        <li class="phone clearfix">
                            <span class="hl">Phone:</span>
                            <span class="text">+56 (0) 012 345 6789</span>
                        </li>
                        <li class="email clearfix">
                            <span class="hl">E-mail:</span>
                            <span class="text">business@support.com</span>
                        </li>
                    </ul>
                </div>
                <div class="widget widget_socials">
                    <div class="socials">
                        <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                        <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                        <a target="_blank" href="#"><i class="fa fa-google-plus"></i></a>
                        <a target="_blank" href="#"><i class="fa fa-pinterest"></i></a>
                        <a target="_blank" href="#"><i class="fa fa-dribbble"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="bottom" class="clearfix style-1">
        <div class="container">
            <div id="bottom-bar-inner" class="wprt-container">
                <div class="bottom-bar-inner-wrap">
                    <div class="bottom-bar-content">
                        <div id="copyright">All Rights Reserved. Company Name © 2018</div>
                        <!-- /#copyright -->
                    </div>
                    <!-- /.bottom-bar-content -->
                    <div class="bottom-bar-menu pull-right">
                        <ul class="bottom-nav">
                            <li><a href="#/">HISTORY</a></li>
                            <li><a href="#/">FAQ</a></li>
                            <li><a href="#/">EVENTS</a></li>
                        </ul>
                    </div>
                    <!-- /.bottom-bar-menu -->
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end footer -->